<!--had to take row with it (else: not respected) -->
<div class="row">
  <div class="col-sm-9 boxed">
    <div>
      <button class="btn btn-info">MainAction 1</button>
      <button class="btn btn-default">MainAction 2</button>
    </div>
    <app-datatable></app-datatable>
  </div>
  <div class="col-sm-3 boxed">
    <div>
      <app-login></app-login>
    </div>
    <div class="boxed">
      <button class="btn btn-primary">Action 1</button>
      <button class="btn btn-default">Action 2</button>
      <button class="btn btn-success">Action 3</button>
    </div>

  </div>
</div>
